.item{
    background-color: green;
    /* height: 100px; */
}

/* .item:nth-child(2){
    background-color: purple;
}

.item:nth-child(3){
    background-color: orange;
} */

/* flexbox - работа с осями */
/* grid - работа с колонками и строками */

.container{
    display: grid;
    grid-template-columns:100px 1fr 100px;
    /* fr - fraction */
    grid-template-rows: 100px 200px 100px;
    grid-template-areas: 
    'sidebar header header'
    'sidebar main ad'
    'sidebar footer footer'
    ;

    /* grid-row-gap: 20px; */
    /* grid-column-gap: 10px; */
    grid-gap:20px 10px;
    justify-items: stretch;
    align-items: stretch;
    /* width: 500px; */
    justify-content: end;
}


.header{
    grid-area: header;
    background-color: green;
}

.sidebar{
    grid-area: sidebar;
    background-color: blue;
}

.main{
    grid-area: main;
    background-color: orange;
}

.ad{
    grid-area: ad;
    background-color: gray;
}

.footer{
    grid-area: footer;
    background-color: black;
}

.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 250px;
    grid-gap: 10px 10px;
    /* grid-auto-flow: column; */

}


.grid_item{
    background-color: lightblue;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1{
    background-color: lightcoral;
    /* grid-column: 1 / 3; */
    /* grid-row: 1 / 3; */
}

.item-5{
    background-color: lightgreen;
    grid-column: 1/3;
    grid-row: 2/3;
}

.subgrid{
    display: grid;
    grid-template-rows: auto auto;
    /* align-content: space-between; */
    grid-gap: 20px;
}